.buttons-button-size-2-xl-hierarchy-link-gray-icon-default-state-default,
.buttons-button-size-2-xl-hierarchy-link-gray-icon-default-state-default * {
  box-sizing: border-box;
}
.buttons-button-size-2-xl-hierarchy-link-gray-icon-default-state-default {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-lg, 12px);
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.buttons-button-size-2-xl-hierarchy-link-gray-icon-default-state-default .text {
  color: var(
    --component-colors-components-buttons-tertiary-button-tertiary-fg,
    #475467
  );
  text-align: left;
  font-family: var(
    --text-lg-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--text-lg-semibold-font-size, 18px);
  line-height: var(--text-lg-semibold-line-height, 28px);
  font-weight: var(--text-lg-semibold-font-weight, 600);
  position: relative;
}

/* nested override styles */
.buttons-button-size-2-xl-hierarchy-link-gray-icon-default-state-default
  .placeholder-instance {
  flex-shrink: 0 !important;
}
