.badge-size-lg-type-pill-outline-icon-false-color-gray,
.badge-size-lg-type-pill-outline-icon-false-color-gray * {
  box-sizing: border-box;
}
.badge-size-lg-type-pill-outline-icon-false-color-gray {
  border-radius: var(--radius-full, 9999px);
  border-style: solid;
  border-color: var(--component-colors-utility-gray-utility-gray-600, #475467);
  border-width: 1.5px;
  padding: var(--spacing-xs, 4px) var(--spacing-lg, 12px) var(--spacing-xs, 4px)
    var(--spacing-lg, 12px);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.badge-size-lg-type-pill-outline-icon-false-color-gray .text {
  color: var(--component-colors-utility-gray-utility-gray-700, #344054);
  text-align: center;
  font-family: var(--text-sm-medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--text-sm-medium-font-size, 14px);
  line-height: var(--text-sm-medium-line-height, 20px);
  font-weight: var(--text-sm-medium-font-weight, 500);
  position: relative;
}

/* nested override styles */
