.social-icon-platform-linked-in-style-gray-state-default,
.social-icon-platform-linked-in-style-gray-state-default * {
  box-sizing: border-box;
}
.social-icon-platform-linked-in-style-gray-state-default {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.social-icon-platform-linked-in-style-gray-state-default .group {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
