.desktop,
.desktop * {
  box-sizing: border-box;
}
.desktop {
  background: var(--colors-background-bg-primary, #ffffff);
  height: 5897px;
  position: relative;
  overflow: hidden;
}
.desktop .hero-header-section {
  background: var(--colors-background-bg-primary, #ffffff);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.desktop .dropdown-header-navigation {
  background: var(
    --component-colors-components-header-sections-header-abstract-50-bg,
    #f0fdf9
  );
  align-self: stretch;
  flex-shrink: 0;
  height: 80px;
  position: relative;
}
.desktop .header {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  height: 80px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.desktop .container {
  padding: 0px var(--spacing-7xl, 64px) 0px var(--spacing-7xl, 64px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-shrink: 0;
  max-width: var(--container-max-width-desktop, 1280px);
  position: relative;
}
.desktop .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
}
.desktop .logo {
  flex-shrink: 0;
  width: 85px;
  height: 38px;
  position: relative;
  overflow: visible;
}
.desktop .navigation {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-4xl, 32px);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.desktop .buttons-button-instance {
  flex-shrink: 0 !important;
}
.desktop .dropdown-header-navigation-trigger-instance {
  flex-shrink: 0 !important;
}
.desktop .header-section {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.desktop .section {
  background: var(
    --component-colors-components-header-sections-header-abstract-50-bg,
    #f0fdf9
  );
  padding: 48px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.desktop .container2 {
  padding: var(--spacing-8xl, 80px) var(--container-padding-desktop, 32px)
    var(--spacing-8xl, 80px) var(--container-padding-desktop, 32px);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4xl, 32px);
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  max-width: var(--container-max-width-desktop, 1280px);
  position: relative;
}
.desktop .content2 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6xl, 48px);
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.desktop .heading-and-supporting-text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3xl, 24px);
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  max-width: var(--width-2xl, 1024px);
  position: relative;
}
.desktop .heading-and-badge {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl, 16px);
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.desktop .heading {
  color: var(--colors-text-text-brand-primary-900, #134e48);
  text-align: center;
  font-family: var(
    --display-xl-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--display-xl-semibold-font-size, 60px);
  line-height: var(--display-xl-semibold-line-height, 72px);
  letter-spacing: var(--display-xl-semibold-letter-spacing, -0.02em);
  font-weight: var(--display-xl-semibold-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.desktop .supporting-text {
  color: var(--colors-text-text-brand-secondary-700, #107569);
  text-align: center;
  font-family: var(--text-xl-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-xl-regular-font-size, 20px);
  line-height: var(--text-xl-regular-line-height, 30px);
  font-weight: var(--text-xl-regular-font-weight, 400);
  position: relative;
  width: 100%;
  max-width: var(--width-xl, 768px);
}
.desktop .background-pattern {
  flex-shrink: 0;
  width: 1440px;
  height: 50px;
  position: relative;
}
.desktop .background {
  width: 2400px;
  height: 401.06px;
  position: absolute;
  left: -480px;
  top: -3.5px;
  overflow: visible;
}
.desktop .right-vectors {
  height: auto;
  position: absolute;
  left: 1017.78px;
  top: -46px;
  overflow: visible;
}
.desktop .left-vectors {
  height: auto;
  position: absolute;
  left: -504px;
  top: 232.11px;
  overflow: visible;
}
.desktop .rectangle-8 {
  border-radius: 0px;
  flex-shrink: 0;
  width: 120px;
  height: 120px;
  position: absolute;
  left: calc(50% - 525px);
  top: 284px;
  overflow: visible;
  object-fit: cover;
}
.desktop .rectangle-7 {
  background: linear-gradient(
      to left,
      rgba(153, 246, 224, 0.2),
      rgba(153, 246, 224, 0.2)
    ),
    linear-gradient(to left, #134e48, #134e48);
  border-radius: 800px 800px 800px 0px;
  flex-shrink: 0;
  width: 120px;
  height: 120px;
  position: absolute;
  left: calc(50% - -408px);
  top: 174px;
  object-fit: cover;
}
.desktop .section2 {
  padding: 36px 0px 36px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.desktop .content3 {
  background: var(--colors-background-bg-primary, #ffffff);
  border-radius: var(--radius-2xl, 16px);
  border-style: solid;
  border-color: var(--colors-border-border-tertiary, #f2f4f7);
  border-width: 1px;
  padding: 48px 36px 48px 36px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 958px;
  position: relative;
}
.desktop .category {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 127px;
  position: relative;
}
.desktop .ellipse-1 {
  background: var(--component-colors-utility-brand-utility-brand-100, #ccfbef);
  border-radius: 50%;
  flex-shrink: 0;
  width: 72px;
  height: 72px;
  position: relative;
}
.desktop .hair {
  color: var(--colors-text-text-brand-primary-900, #134e48);
  text-align: center;
  font-family: var(--text-xl-medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--text-xl-medium-font-size, 20px);
  line-height: var(--text-xl-medium-line-height, 30px);
  font-weight: var(--text-xl-medium-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.desktop .skin {
  color: var(--colors-text-text-brand-primary-900, #134e48);
  text-align: center;
  font-family: var(--text-xl-medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--text-xl-medium-font-size, 20px);
  line-height: var(--text-xl-medium-line-height, 30px);
  font-weight: var(--text-xl-medium-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.desktop .aging {
  color: var(--colors-text-text-brand-primary-900, #134e48);
  text-align: center;
  font-family: var(--text-xl-medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--text-xl-medium-font-size, 20px);
  line-height: var(--text-xl-medium-line-height, 30px);
  font-weight: var(--text-xl-medium-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.desktop .stress {
  color: var(--colors-text-text-brand-primary-900, #134e48);
  text-align: center;
  font-family: var(--text-xl-medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--text-xl-medium-font-size, 20px);
  line-height: var(--text-xl-medium-line-height, 30px);
  font-weight: var(--text-xl-medium-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.desktop .brain {
  color: var(--colors-text-text-brand-primary-900, #134e48);
  text-align: center;
  font-family: var(--text-xl-medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--text-xl-medium-font-size, 20px);
  line-height: var(--text-xl-medium-line-height, 30px);
  font-weight: var(--text-xl-medium-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.desktop .immune {
  color: var(--colors-text-text-brand-primary-900, #134e48);
  text-align: center;
  font-family: var(--text-xl-medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--text-xl-medium-font-size, 20px);
  line-height: var(--text-xl-medium-line-height, 30px);
  font-weight: var(--text-xl-medium-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.desktop .fatigue {
  color: var(--colors-text-text-brand-primary-900, #134e48);
  text-align: center;
  font-family: var(--text-xl-medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--text-xl-medium-font-size, 20px);
  line-height: var(--text-xl-medium-line-height, 30px);
  font-weight: var(--text-xl-medium-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.desktop .joints {
  color: var(--colors-text-text-brand-primary-900, #134e48);
  text-align: center;
  font-family: var(--text-xl-medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--text-xl-medium-font-size, 20px);
  line-height: var(--text-xl-medium-line-height, 30px);
  font-weight: var(--text-xl-medium-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.desktop .muscle {
  color: var(--colors-text-text-brand-primary-900, #134e48);
  text-align: center;
  font-family: var(--text-xl-medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--text-xl-medium-font-size, 20px);
  line-height: var(--text-xl-medium-line-height, 30px);
  font-weight: var(--text-xl-medium-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.desktop .sleep {
  color: var(--colors-text-text-brand-primary-900, #134e48);
  text-align: center;
  font-family: var(--text-xl-medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--text-xl-medium-font-size, 20px);
  line-height: var(--text-xl-medium-line-height, 30px);
  font-weight: var(--text-xl-medium-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.desktop .focus {
  color: var(--colors-text-text-brand-primary-900, #134e48);
  text-align: center;
  font-family: var(--text-xl-medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--text-xl-medium-font-size, 20px);
  line-height: var(--text-xl-medium-line-height, 30px);
  font-weight: var(--text-xl-medium-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.desktop .show-all {
  color: var(--colors-text-text-brand-primary-900, #134e48);
  text-align: center;
  font-family: var(--text-xl-medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--text-xl-medium-font-size, 20px);
  line-height: var(--text-xl-medium-line-height, 30px);
  font-weight: var(--text-xl-medium-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.desktop .rail {
  padding: var(--spacing-7xl, 64px);
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 982px;
}
.desktop .header2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.desktop .heading2 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 231px;
  position: relative;
}
.desktop .supplements-to-improve {
  color: var(--colors-text-text-quarterary-500, #667085);
  text-align: left;
  font-family: var(--text-md-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-md-regular-font-size, 16px);
  line-height: var(--text-md-regular-line-height, 24px);
  font-weight: var(--text-md-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.desktop .mental-health-and-focus {
  color: var(--colors-text-text-primary-900, #101828);
  text-align: left;
  font-family: var(
    --display-sm-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--display-sm-semibold-font-size, 30px);
  line-height: var(--display-sm-semibold-line-height, 38px);
  font-weight: var(--display-sm-semibold-font-weight, 600);
  position: relative;
}
.desktop .carousel-buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.desktop .content4 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.desktop .card {
  background: var(--colors-background-bg-brand-primary, #f0fdf9);
  border-radius: var(--radius-lg, 10px);
  padding: 0px 0px var(--spacing-lg, 12px) 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 272px;
  position: relative;
  overflow: hidden;
}
.desktop .thumbnail {
  background: var(--component-colors-utility-brand-utility-brand-100, #ccfbef);
  padding: 8px;
  align-self: stretch;
  flex-shrink: 0;
  height: 125px;
  position: relative;
  overflow: hidden;
}
.desktop .b-complex {
  color: var(--colors-text-text-brand-primary-900, #134e48);
  text-align: left;
  font-family: var(
    --display-xs-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--display-xs-semibold-font-size, 24px);
  line-height: var(--display-xs-semibold-line-height, 32px);
  font-weight: var(--display-xs-semibold-font-weight, 600);
  position: absolute;
  left: 12px;
  top: 12px;
}
.desktop .image-4 {
  width: 78.99px;
  height: 137.11px;
  position: absolute;
  right: 23.01px;
  top: 25px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  object-fit: cover;
}
.desktop .rectangle-15 {
  background: var(--component-colors-utility-brand-utility-brand-200, #99f6e0);
  border-radius: 0px 800px 0px 0px;
  width: 105.77px;
  height: 28.56px;
  position: absolute;
  left: -30px;
  bottom: -21.58px;
  transform-origin: 0 0;
  transform: rotate(-25.079deg) scale(0.984, 1.016);
}
.desktop .rectangle-16 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .content5 {
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.desktop .categories {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.desktop .tag-instance {
  background: var(--colors-background-bg-brand-primary, #f0fdf9) !important;
  flex-shrink: 0 !important;
}
.desktop .recommended-by {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.desktop .recommended-by2 {
  color: var(--colors-text-text-tertiary-600, #475467);
  text-align: left;
  font-family: var(--text-sm-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-sm-regular-font-size, 14px);
  line-height: var(--text-sm-regular-line-height, 20px);
  font-weight: var(--text-sm-regular-font-weight, 400);
  position: relative;
}
.desktop .frame-7 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.desktop .avatar {
  background: linear-gradient(
    to left,
    rgba(153, 246, 224, 0.2),
    rgba(153, 246, 224, 0.2)
  );
  border-radius: var(--radius-full, 9999px);
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.desktop .contrast-border {
  border-radius: var(--radius-full, 9999px);
  border-style: solid;
  border-color: var(
    --component-colors-components-avatars-avatar-contrast-border,
    rgba(0, 0, 0, 0.08)
  );
  border-width: 0.5px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
}
.desktop .pricing {
  padding: 4px 0px 4px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.desktop .divider {
  margin-top: -1px;
  border-style: solid;
  border-color: var(--colors-border-border-secondary, #eaecf0);
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.desktop .content6 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.desktop .starting-at {
  color: var(--colors-text-text-tertiary-600, #475467);
  text-align: left;
  font-family: var(--text-sm-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-sm-regular-font-size, 14px);
  line-height: var(--text-sm-regular-line-height, 20px);
  font-weight: var(--text-sm-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.desktop .price {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.desktop ._100 {
  color: var(--colors-text-text-brand-secondary-700, #107569);
  text-align: left;
  font-family: var(
    --text-lg-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--text-lg-semibold-font-size, 18px);
  line-height: var(--text-lg-semibold-line-height, 28px);
  font-weight: var(--text-lg-semibold-font-weight, 600);
  position: relative;
}
.desktop ._60-capsules {
  color: var(--colors-text-text-primary-900, #101828);
  text-align: left;
  font-family: var(--text-sm-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-sm-regular-font-size, 14px);
  line-height: var(--text-sm-regular-line-height, 20px);
  font-weight: var(--text-sm-regular-font-weight, 400);
  position: relative;
}
.desktop .rectangle-162 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-163 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-164 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-165 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-166 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-167 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-168 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-169 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1610 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1611 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1612 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1613 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rail2 {
  padding: var(--spacing-7xl, 64px);
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 1547px;
}
.desktop .skin-hair-and-nail-health {
  color: var(--colors-text-text-primary-900, #101828);
  text-align: left;
  font-family: var(
    --display-sm-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--display-sm-semibold-font-size, 30px);
  line-height: var(--display-sm-semibold-line-height, 38px);
  font-weight: var(--display-sm-semibold-font-weight, 600);
  position: relative;
}
.desktop .rectangle-1614 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1615 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1616 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1617 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1618 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1619 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1620 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1621 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1622 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1623 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1624 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1625 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1626 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rail3 {
  background: var(--colors-background-bg-primary-solid, #161b26);
  padding: var(--spacing-9xl, 96px) var(--spacing-7xl, 64px)
    var(--spacing-9xl, 96px) var(--spacing-7xl, 64px);
  display: flex;
  flex-direction: row;
  gap: 115px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 2112px;
}
.desktop .header3 {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 275px;
  position: relative;
}
.desktop .know-more-about-the {
  color: var(--colors-text-text-quarterary-500, #94969c);
  text-align: left;
  font-family: var(--text-md-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-md-regular-font-size, 16px);
  line-height: var(--text-md-regular-line-height, 24px);
  font-weight: var(--text-md-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.desktop .experts {
  color: var(--colors-text-text-primary-900, #f5f5f6);
  text-align: left;
  font-family: var(
    --display-sm-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--display-sm-semibold-font-size, 30px);
  line-height: var(--display-sm-semibold-line-height, 38px);
  font-weight: var(--display-sm-semibold-font-weight, 600);
  position: relative;
}
.desktop .subtext {
  color: var(--colors-text-text-quarterary-500, #94969c);
  text-align: left;
  font-family: var(--text-md-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-md-regular-font-size, 16px);
  line-height: var(--text-md-regular-line-height, 24px);
  font-weight: var(--text-md-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.desktop .content7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 762px;
  position: relative;
}
.desktop .bryan-johnson {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3xl, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 373px;
  min-width: 240px;
  position: relative;
}
.desktop .image {
  background: linear-gradient(
      to left,
      rgba(16, 117, 105, 0.2),
      rgba(16, 117, 105, 0.2)
    ),
    linear-gradient(to left, #0a2926, #0a2926);
  border-radius: 52px 52px 52px 0px;
  align-self: stretch;
  flex-shrink: 0;
  height: 296px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.desktop .text-and-social-links {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3xl, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.desktop .name-and-supporting-text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl, 16px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.desktop .name-and-role {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs, 4px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.desktop .am-lie-laurent {
  color: var(--colors-text-text-primary-900, #f5f5f6);
  text-align: left;
  font-family: var(
    --text-xl-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--text-xl-semibold-font-size, 20px);
  line-height: var(--text-xl-semibold-line-height, 30px);
  font-weight: var(--text-xl-semibold-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.desktop .supporting-text2 {
  color: var(--colors-text-text-tertiary-600, #94969c);
  text-align: left;
  font-family: var(--text-md-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-md-regular-font-size, 16px);
  line-height: var(--text-md-regular-line-height, 24px);
  font-weight: var(--text-md-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.desktop .social-icons {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xl, 16px);
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.desktop .social-icon-instance {
  flex-shrink: 0 !important;
  width: 20px !important;
  height: 20px !important;
}
.desktop .social-icon-instance2 {
  flex-shrink: 0 !important;
  width: 20px !important;
  height: 20px !important;
}
.desktop .rail4 {
  padding: var(--spacing-7xl, 64px);
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 2810px;
}
.desktop .sleep-and-relaxation {
  color: var(--colors-text-text-primary-900, #101828);
  text-align: left;
  font-family: var(
    --display-sm-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--display-sm-semibold-font-size, 30px);
  line-height: var(--display-sm-semibold-line-height, 38px);
  font-weight: var(--display-sm-semibold-font-weight, 600);
  position: relative;
}
.desktop .rectangle-1627 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1628 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1629 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1630 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1631 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1632 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1633 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1634 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1635 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1636 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1637 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1638 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1639 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rail5 {
  padding: var(--spacing-7xl, 64px);
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 3375px;
}
.desktop .digestive-health {
  color: var(--colors-text-text-primary-900, #101828);
  text-align: left;
  font-family: var(
    --display-sm-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--display-sm-semibold-font-size, 30px);
  line-height: var(--display-sm-semibold-line-height, 38px);
  font-weight: var(--display-sm-semibold-font-weight, 600);
  position: relative;
}
.desktop .rectangle-1640 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1641 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1642 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1643 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1644 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1645 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1646 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1647 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1648 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1649 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1650 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1651 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1652 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rail6 {
  background: var(--colors-background-bg-primary-solid, #161b26);
  padding: var(--spacing-7xl, 64px);
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 3940px;
}
.desktop .header4 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.desktop .heading3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.desktop .supplements-to-improve2 {
  color: var(--colors-text-text-quarterary-500, #94969c);
  text-align: left;
  font-family: var(--text-md-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-md-regular-font-size, 16px);
  line-height: var(--text-md-regular-line-height, 24px);
  font-weight: var(--text-md-regular-font-weight, 400);
  position: relative;
}
.desktop .frame-13 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.desktop .badge-instance {
  background: var(
    --component-colors-utility-brand-utility-brand-50,
    #0a2926
  ) !important;
  border-color: var(
    --component-colors-utility-brand-utility-brand-200,
    #125d56
  ) !important;
  padding: var(--spacing-md, 8px) var(--spacing-4xl, 32px)
    var(--spacing-md, 8px) var(--spacing-4xl, 32px) !important;
  flex-shrink: 0 !important;
}
.desktop .badge-instance2 {
  border-color: var(
    --component-colors-utility-brand-utility-brand-100,
    #134e48
  ) !important;
  padding: var(--spacing-md, 8px) var(--spacing-4xl, 32px)
    var(--spacing-md, 8px) var(--spacing-4xl, 32px) !important;
  flex-shrink: 0 !important;
}
.desktop .buttons-button-instance3 {
  background: var(--colors-background-bg-primary, #0c111d) !important;
  border-color: var(--colors-border-border-disabledsubtle, #1f242f) !important;
  flex-shrink: 0 !important;
}
.desktop .buttons-button-instance4 {
  background: var(
    --component-colors-components-buttons-secondary-color-button-secondary-color-bg,
    #161b26
  ) !important;
  border-color: var(
    --component-colors-components-buttons-secondary-color-button-secondary-color-border,
    #333741
  ) !important;
  flex-shrink: 0 !important;
}
.desktop .card2 {
  background: var(--component-colors-utility-brand-utility-brand-50, #0a2926);
  border-radius: var(--radius-lg, 10px);
  padding: 0px 0px var(--spacing-lg, 12px) 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 272px;
  position: relative;
  overflow: hidden;
}
.desktop .thumbnail2 {
  background: var(--component-colors-utility-brand-utility-brand-100, #134e48);
  padding: 8px;
  align-self: stretch;
  flex-shrink: 0;
  height: 125px;
  position: relative;
  overflow: hidden;
}
.desktop .b-complex2 {
  color: var(--colors-text-text-brand-primary-900, #f5f5f6);
  text-align: left;
  font-family: var(
    --display-xs-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--display-xs-semibold-font-size, 24px);
  line-height: var(--display-xs-semibold-line-height, 32px);
  font-weight: var(--display-xs-semibold-font-weight, 600);
  position: absolute;
  left: 12px;
  top: 12px;
}
.desktop .rectangle-152 {
  background: var(--component-colors-utility-brand-utility-brand-200, #125d56);
  border-radius: 0px 800px 0px 0px;
  width: 105.77px;
  height: 28.56px;
  position: absolute;
  left: -30px;
  bottom: -21.58px;
  transform-origin: 0 0;
  transform: rotate(-25.079deg) scale(0.984, 1.016);
}
.desktop .rectangle-1653 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .tag-instance2 {
  background: var(
    --component-colors-utility-brand-utility-brand-50,
    #0a2926
  ) !important;
  border-color: var(
    --component-colors-utility-brand-utility-brand-200alt,
    #333741
  ) !important;
  flex-shrink: 0 !important;
}
.desktop .recommended-by3 {
  color: var(--colors-text-text-tertiary-600, #94969c);
  text-align: left;
  font-family: var(--text-sm-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-sm-regular-font-size, 14px);
  line-height: var(--text-sm-regular-line-height, 20px);
  font-weight: var(--text-sm-regular-font-weight, 400);
  position: relative;
}
.desktop .contrast-border2 {
  border-radius: var(--radius-full, 9999px);
  border-style: solid;
  border-color: var(
    --component-colors-components-avatars-avatar-contrast-border,
    rgba(255, 255, 255, 0.12)
  );
  border-width: 0.5px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
}
.desktop .pricing2 {
  padding: 4px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.desktop .divider2 {
  margin-top: -1px;
  border-style: solid;
  border-color: var(
    --component-colors-utility-brand-utility-brand-100,
    #134e48
  );
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.desktop .starting-at2 {
  color: var(--colors-text-text-tertiary-600, #94969c);
  text-align: left;
  font-family: var(--text-sm-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-sm-regular-font-size, 14px);
  line-height: var(--text-sm-regular-line-height, 20px);
  font-weight: var(--text-sm-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.desktop ._1002 {
  color: var(--colors-text-text-brand-primary-900, #f5f5f6);
  text-align: left;
  font-family: var(
    --text-lg-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--text-lg-semibold-font-size, 18px);
  line-height: var(--text-lg-semibold-line-height, 28px);
  font-weight: var(--text-lg-semibold-font-weight, 600);
  position: relative;
}
.desktop ._60-capsules2 {
  color: var(--colors-text-text-secondary-700, #cecfd2);
  text-align: left;
  font-family: var(--text-sm-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-sm-regular-font-size, 14px);
  line-height: var(--text-sm-regular-line-height, 20px);
  font-weight: var(--text-sm-regular-font-weight, 400);
  position: relative;
}
.desktop .rectangle-1654 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1655 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1656 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1657 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1658 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1659 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1660 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1661 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1662 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rail7 {
  padding: var(--spacing-7xl, 64px);
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 4521px;
}
.desktop .energy-and-vitality {
  color: var(--colors-text-text-primary-900, #101828);
  text-align: left;
  font-family: var(
    --display-sm-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--display-sm-semibold-font-size, 30px);
  line-height: var(--display-sm-semibold-line-height, 38px);
  font-weight: var(--display-sm-semibold-font-weight, 600);
  position: relative;
}
.desktop .rectangle-1663 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1664 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1665 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1666 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1667 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1668 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1669 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1670 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1671 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1672 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1673 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1674 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1675 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rail8 {
  padding: var(--spacing-7xl, 64px);
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 5086px;
}
.desktop .heart-health {
  color: var(--colors-text-text-primary-900, #101828);
  text-align: left;
  font-family: var(
    --display-sm-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--display-sm-semibold-font-size, 30px);
  line-height: var(--display-sm-semibold-line-height, 38px);
  font-weight: var(--display-sm-semibold-font-weight, 600);
  position: relative;
}
.desktop .rectangle-1676 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1677 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1678 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1679 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1680 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  transform: translate(-13.02px, -70.56px);
  overflow: visible;
}
.desktop .rectangle-1681 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1682 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1683 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1684 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1685 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1686 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1687 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .rectangle-1688 {
  border-radius: 0px;
  width: 92.9px;
  height: 31.23px;
  position: absolute;
  left: 28.33px;
  bottom: -61.32px;
  overflow: visible;
}
.desktop .footer {
  background: var(--colors-background-bg-primary, #0c111d);
  padding: var(--spacing-6xl, 48px) 0px var(--spacing-6xl, 48px) 0px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4xl, 32px);
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 5651px;
  overflow: hidden;
}
.desktop .footer-text {
  color: var(--colors-text-text-quarterary-500, #94969c);
  text-align: center;
  font-family: var(--text-md-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-md-regular-font-size, 16px);
  line-height: var(--text-md-regular-line-height, 24px);
  font-weight: var(--text-md-regular-font-weight, 400);
  position: relative;
  width: 762px;
}
.desktop .container3 {
  padding: 0px var(--container-padding-desktop, 32px) 0px
    var(--container-padding-desktop, 32px);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4xl, 32px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  max-width: var(--container-max-width-desktop, 1280px);
  position: relative;
}
.desktop .content8 {
  border-style: solid;
  border-color: var(--colors-border-border-secondary, #1f242f);
  border-width: 1px 0px 0px 0px;
  padding: var(--spacing-4xl, 32px) 0px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.desktop .social-icons2 {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-3xl, 24px);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 320px;
  position: relative;
}
.desktop .social-icon-instance3 {
  flex-shrink: 0 !important;
}
.desktop .social-icon-instance4 {
  flex-shrink: 0 !important;
}
.desktop .logo2 {
  flex-shrink: 0;
  width: 85px;
  height: 38px;
  position: relative;
  overflow: visible;
}
.desktop .frame-14 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.desktop .footer-text2 {
  color: var(--colors-text-text-quarterary-500, #94969c);
  text-align: right;
  font-family: var(--text-md-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--text-md-regular-font-size, 16px);
  line-height: var(--text-md-regular-line-height, 24px);
  font-weight: var(--text-md-regular-font-weight, 400);
  position: relative;
}
.desktop .heart-rounded-instance {
  flex-shrink: 0 !important;
}

/* nested override styles */
.desktop .placeholder-instance {
  flex-shrink: 0 !important;
}
.desktop .chevron-down-instance {
  flex-shrink: 0 !important;
}
.desktop .buttons-button-instance2 {
  gap: var(--spacing-md, 8px) !important;
  flex-shrink: 0 !important;
}
.desktop .chevron-left-instance {
  flex-shrink: 0 !important;
  width: 20px !important;
  height: 20px !important;
}
.desktop .chevron-right-instance {
  flex-shrink: 0 !important;
  width: 20px !important;
  height: 20px !important;
}
