.social-icon-platform-twitter-style-gray-state-default,
.social-icon-platform-twitter-style-gray-state-default * {
  box-sizing: border-box;
}
.social-icon-platform-twitter-style-gray-state-default {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
